
.CreateProject{
    background-color: white;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    background-image: url('../Logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 500px;
    background-position-y: 100px;
}

.CreateProject h1 {
    font-size: 300%;
    color: rgb(63, 62, 62);
    font: Raleway small-caps bold;
    border-bottom: 2px;
    margin-top: 50px;
}

.CreateProject input{
    height: 50px;
    width: 400px;
    margin: 2px;
    margin-top: 2%; 
    border: 3px solid black;
    border-radius: 10px;
    opacity: 0.6;
    text-align: center;
}

.CreateProject button{
    border: 3px solid black;
    border-radius: 10px;
    opacity: 0.6;
    margin: 2px;
    width: 100px;
}
.CreateProject form {
    color: rgb(63, 62, 62);
    font: Raleway small-caps bold; 
}
