.Discover {
    background-color: white;
}

.jumbotron {
    background-image: url('../Logo1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:white;
    
}
