.Discover {
    background-color: #f8f9fa;
    /* background-color: white; */
}

/*#logo-text {
    text-align: center;
    font-size: 8em;
    color: #fc834f;
    font-weight: 39;
    letter-spacing: -5px;
    line-height: 80px;
    margin-bottom: 40px;
}*/

#logo {
    text-align: center;
    height: 170px;
    width: auto;
    position: absolute;
    /* Centering */
    top: 40%;
    margin-top: -70px;
    left: 50%;
    margin-left: -85px;
}

.jumbotron {
    height: 300px;
}

.jumbotron.jumbotron-fluid.logo {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top:0px;
    padding-bottom: 0px;
    position: relative;
    /* background-color: white; */
    background-color: #f8f9fa;
}

/* This adjust the max-width of the project list entries! */
.container {
    max-width: 60%;
}