.EditProfile {
    width: 90%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.EditProfile:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 3px solid #26c46e;
}

.EditProfile h3{
    font-size: 300%;
    color: rgb(63, 62, 62);
    font: Raleway small-caps bold;
    margin-top: 30px;
}

.EditProfile div{
    justify-content: left;
    align-items: left;
    overflow: hidden;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: white;

}

.EditProfile div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 3px solid #fc834f;
}

.EditProfile img{
    height: 100px;
    width: 100px;
    text-align: right;
    margin-left: 30px;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.EditProfile h1{
    text-align: left;
    color: rgb(63, 62, 62);
    font: Raleway small-caps bold; 
    margin-left: 80px; 
}

.EditProfile form{
    background-color: whitesmoke;
    text-align: left;
    font-size: large;
   /* margin-left: 25px;
    margin-bottom: 50px; */
    display: block;
    margin-left: 20%;
    color: rgb(63, 62, 62);
    font: Raleway small-caps bold;
    
}

.EditProfile input{
    margin-left: 20%;
    margin-bottom: 10px;
    font-size: large;
    border: 1px solid rgb(134, 128, 128);
    border-radius: 10px;
    opacity: 0.6;
    background-color: #f8f9fa;
}

.EditProfile button{
    font: Raleway small-caps bold;
    margin-top: 8px;
    margin-bottom: 8px;
    border-width: 2px;
    border-color: rgb(45, 102, 10);
    border-radius: 3px;
    width: 10%;
    color: solid black;
    border-color: #fc834f;
    color: #fc834f;
}

.EditProfile button:hover{
    background-color: #26c46e;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
}

.skills {
    margin: 40px;
    
}

.submit{
    justify-content: center;  
}
