.navbar { 
    background-color: #222; 
}

.navbar:hover { color: white; }

.navbar-brand {
    font-size: 1.7em;
    color: #9FFFCB;
  }
.navbar-brand:hover { 
    color: white; 
}

.form-center {
    position: absolute !important;
    left: 25%;
    right: 25%;
}

#navbar-logo {
    height: 37px;
    padding-right: 12px;
    width: auto;
}

.signin {
    border-color: #26c46e;
    color: #26c46e;
}

.signin:hover {
    background-color: #fc834f;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px #fc834f;
    -moz-box-shadow: 0px 0px 5px 2px #fc834f;
    box-shadow: 0px 0px 5px 2px #fc834f;
}

.signin:active {
    box-shadow: none;
}

.signin:focus {
    box-shadow: none;
}

.signout {
    border-color: #fc834f;
    color: #fc834f;
}

.signout:hover {
    background-color: #26c46e;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
}

.signout:active {
    box-shadow: none;
}

.signout:focus {
    box-shadow: none;
}
