
.NavigationBar{
    font-size: large;
    font: Relaway;
    margin-top: 2%;
    text-align: center;
    color: white;
}

.NavigationBar img{
    margin-top: 2%;
    margin-bottom: 3%;
    width: 15%;
}
.NavigationBar span{
    margin-right: 15px;
}

