/* 
    This sort of models the example doc for creating components 
    and shows how the styling would work.
    Feel free to play with this and make the rest of the .css files
    for the other components in this folder, then import them for the component.
*/

.ProjectList {
    width: 90%;
    margin: auto;
}

.ProjectList ul {
    list-style-type: none;
    /* text-align: center; */
    border: 2px solid rgba(63, 62, 62, 0.788);
    padding: 20px 20px 20px 20px ;
    background-image: url(../Background.png);
    border-radius: 10px;
    
}

