/* 
    This sort of models the example doc for creating components 
    and shows how the styling would work.
    Feel free to play with this and make the rest of the .css files
    for the other components in this folder, then import them for the component.
*/

.ProjectEntry {
    border: 3px solid rgba(155, 153, 153, 0.644);
    background-color: #f8f9fa;
    display: block;
    margin: auto;
    border-radius: 10px;
    /* width: 113.5%; */
    margin-bottom: 30px;
    /* margin-left: -49px; */
    margin-top: -15px;
    transition: 0.5s;
}

.ProjectEntry:hover{
    border-color: #fdae78;
}

.ProjectEntry h2 {
    color: rgb(63, 62, 62);
    font-size: 30px;
    margin-top: 20px; /* spacings between title and description */
    text-transform: capitalize;
    /* margin-left: -15px; */
}

.ProjectEntry p {
    font-size: 12px;
    /* margin-left: 30px; */
    margin-right: 30px;
    margin-left: 30px;
}

.ProjectEntry h3 {
    font-size: 15px;
    /* margin-left: 25px; */
    margin-top: -8px;
    color: rgb(112, 110, 110)
}



.ProjectEntry h4 {
    font-style: italic;
    font-size: 13px;
    /* margin-left: 25px; */
    margin-top: 20px;
    color: rgb(255, 132, 0)
}

.ProjectEntry button{
    width: 15%;
    margin-top: 0px;
    color: solid black;
    border-color: #fc834f;
    color: #fc834f;
    position: relative;
    left: 75%;
    border-radius: 3px;
}

.ProjectEntry button:hover{
    background-color: #26c46e;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
}

.line{
    position: relative;
    margin-bottom: 30px;
}

.line button{
    position: absolute;  
}




