.ProjectForm{
    border-style: solid;
    border-color: #99f0a6;
    border-color: #B7C6BA;
    border-width: 4px;
    border-radius: 10px;
    background-color: white;
    height: 450px;
    width: 96%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.ProjectForm h1{
    font-size: 325%;
    color: rgb(63, 62, 62);
    font-weight: bold;
    font: Raleway small-caps bold;
    text-align: center;
    border-bottom: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ProjectForm form{
    display: block;
    margin-top: 2%;
}

.ProjectForm label[for="projectTitle"]{
    font-size: 20px;
    color: rgb(63, 62, 62);
    font-weight: bold;
    margin-left: 1.5%;
}

.ProjectForm textarea[id="titleInput"]{
    display: block;
    margin: auto;
    width: 97%;
}

.ProjectForm label[for="projectDescription"]{
    font-size: 20px;
    color: rgb(63, 62, 62);
    font-weight: bold;
    margin-left: 1.5%;
}

.ProjectForm textarea[id="descriptionInput"]{
    display: block;
    margin: auto;
    width: 97%;
    height: 80px;
    word-wrap: break-word;
}

.ProjectForm button{
    color: rgb(63, 62, 62);
    font-size: 20px;
    font-weight: bold;
    background-color: #99f0a6;
    border-color: #99f0a6;
    margin-left: 1.5%;
}

.ProjectForm button:hover{
    color: rgb(63, 62, 62);
    background-color: #82E994;
    border-color: #82E994;
}