/* 
    This sort of models the example doc for creating components 
    and shows how the styling would work.
    Feel free to play with this and make the rest of the .css files
    for the other components in this folder, then import them for the component.
*/

.ProjectEntry {
    border: 0.75px solid rgba(63, 62, 62, 0.644);
    background-color: #f8f9fa;
    margin-bottom: 10px; /* spacings between entries */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: all 1.18s;
    width: 100%;
}

.ProjectEntry:hover{
    transform: scale(1.07);
    background-color: white;
}

.ProjectEntry h2 {
    color: rgb(63, 62, 62);
    margin-left: 15px;
    font-size: 30px;
    margin-bottom: 0px; /* spacings between title and description */
}

.ProjectEntry p {
    font-size: 12px;
    margin-left: 25px;
    margin-top: -5px;
    margin-bottom: 0px; /* spacing between description and creator */  
}

.ProjectEntry h3 {
    font-size: 15px;
    margin-left: 15px;
    color: rgb(112, 110, 110)
}

.ProjectEntry h4 {
    font-style: italic;
    font-size: 13px;
    margin-left: 15px;
    color: rgb(255, 132, 0)
}

.ProjectEntry button{
    width: 10%;
    margin-top: 0px;
    color: solid black;
    background-color: #fc834f;
    position: relative;
    left: 86%;
    border: 2px solid rgba(48, 45, 45, 0.87);
    border-radius: 3px;
}
.margin {
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
}


