.Project{
    border-style: solid;
    border-color: #99f0a6;
    border-color: #B7C6BA;
    border-width: 4px;
    border-radius: 10px;
    background-color: #f8f9fa;
    margin: auto;
    margin-top: 30px;
}
.Project:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 3px solid #26c46e;
}

.Project h1{
    /* font-size: 325%; */
    color: rgb(63, 62, 62);
    font-weight: bold;
    font: Raleway small-caps bold;
    text-align: center;
    border-bottom: 2px;
    margin-top: 30px; 
    text-transform: capitalize;
}

.text{
    width: 90%;
    margin: auto;
    text-align: auto;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.Project p{
    font-size: 20px;
    color: #2b2a2a;
    font-weight: 500;
    
}

.margin{
    margin-left: 60px;
    margin-bottom: 30px;
}

.Project h5{
    font-size: 20px;
    color: #2b2a2a;
    font-weight: 500;
}

.open-status {
    color: green;
    margin-left: 60px;
}

.app{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: #99f0a6;
    border-color: #B7C6BA;
    background-color: #f8f9fa;
    border-width: 4px;
    border-radius: 10px;
    width: 90%;
    transition: 0.3s;
}

.app:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 3px solid #fdae78;
}
.card-header{
    border-style: solid;
    border-color: #99f0a6;
    border-color: #B7C6BA;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100;
    text-align: center;
    background-color: white;

}

.col{
    margin-top: 30px;
    margin-right: 60px;
}

.app button{
        border-color: #fc834f;
        color: #fc834f;
        background-color: white;
        margin-left: 10px;
}
    
.app button:hover {
        background-color: #26c46e;
        border-color: white;
        color: white;
        -webkit-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
        -moz-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
        box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    }
.trd{
 position: relative;
 margin: auto;
 width: 70%;
}

.col button{
    margin: auto;
}

.card{
    border: solid #f8f9fa;
    background-color: #f8f9fa;
}


.frm{
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
}
.frm h2{
    text-align: center;
    font: Raleway small-caps bold;
    margin-bottom: 2%;
}

.entry{
    width: 42%;
    border: 1px solid rgb(134, 128, 128);
    border-radius: 10px;
    opacity: 0.6;
    margin: 3px;
}

.bttn{
    border-color: #fc834f;
    color: #fc834f;
    background-color: white;
    width: 12%;
    border-radius: 3px;
    margin-left: 4px;
}

.bttn:hover {
    background-color: #26c46e;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
    box-shadow: 0px 0px 5px 2px rgba(15,200,52,1);
}

.listapp{
    padding: 2%;
}

