/* 
    Tweak values and figure out what it does.
    add your own things in as well.
*/
 .SearchBar {
    width: 50%;
    text-align: center; 
    margin: auto; /* place entire component in the center of the page */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 4px solid #0099ff;
 }

 .SearchBar input {
    width: 100%;
}