/* 
    Tweak values and figure out what it does.
    add your own things in as well.
*/
 .SearchBar {
    width: 75%;
    text-align: center; 
    margin: auto; /* place entire component in the center of the page */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
 }

 .SearchBar input {
    width: 100%;
}

.SearchBar img{
    width: 30%;
}
.SearchBar h1{
    color: rgb(63, 62, 62);
    font: Raleway small-caps bold;
    font-size: 300%;
}